This is what it is now: :root {
  --primary: #000000;
  --headlinefont: 'Inter', sans-serif;
}

body {
  font-family: var(--headlinefont);
  color: #111;
}

h1, h2, h3 {
  color: var(--primary);
}

button {
  background-color: var(--primary) !important;
  border-radius: 100px !important;
  color: white !important;
  padding: 14px 28px;
  font-weight: bold;
}
